:root {
    --color-07101D: #07101D;
    --color-FF3C00: #FF3C00;
    --color-ffffff: #ffffff;
    --color-949494: #949494;
    --color-2e2e2e: #2e2e2e;
    --color-00FF1A: #00FF1A;
    --color-002e05: #001803;
    --color-5300FF: #5300FF;
    --color-260072: #080018;
    --color-FF1304: #FF1304;
    --color-600600: #220200;
    --color-A50E86: #A50E86;
    --color-D37506: #D37506;
}
.btm_model_2 {
    background: linear-gradient(90deg , #7a0f97 , #FF3C00);
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.375rem 2.1875rem;
    text-align: center;
}
.see_more {
    font-size: 22px;
    cursor: pointer;
}
.arrow_icon {
    width: 36px;height: 36px;
    cursor: pointer;
}
.bg-07101D {
    background: var(--color-07101D);
}
.text_FF3C00 {
    color: var(--color-FF3C00);
}
body {
    background: var(--color-07101D);
}
.bg-FF3C00 {
    background: var(--color-FF3C00);
    color: var(--color-ffffff);
}
.fs_18 {
    font-size: 18px
}
.selected {
    color: var(--color-FF3C00);
    font-weight: bolder;
}
div.container-fluid ul.tabs li.nav-item a:not(.selected) , div.offcanvas-body ul.navbar-nav li.nav-item a:not(.selected) {
    color: var(--color-949494);
    font-size: 18px;
}
div.container-fluid ul.tabs li.nav-item a:not(.selected) {
    margin: 0 35px;
}
div.container-fluid ul.tabs li.nav-item a {
    margin-bottom: 15px;
}
header::before {
    content: '';
    width: 904px;
    height: 878px;
    background: radial-gradient(#3D0D58 38%, #070F1C 0%);
    position: fixed;
    right: -274px;
    top: -274px;
    filter: blur(74px);
    opacity: 0.4;
    z-index: -1;
}
.main_title_header {
    font-size: 4rem;
}
.main_header_icon {
    padding: 10px;
    bottom: 100px;
    left: 100px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
.wallet_image_area {
    width: 75px;height: 75px;
    margin: 30px;
}
.card_box {
    background-color: var(--color-2e2e2e);
}
.creator {
    color:  darkturquoise;
}
.last_ofer {
    color:  darkturquoise;
}
.services {
    background-color: #2e2e2e;
}
#speed_service {
    border: var(--color-00FF1A) solid 2px;
    background-color: var(--color-002e05);
}
#security_service {
    border: var(--color-5300FF) solid 2px;
    background-color: var(--color-260072);
}
#support_service {
    border: var(--color-FF1304) solid 2px;
    background-color: var(--color-600600);
}
.services_icon {
    padding: 20px;
    display: inline-block;
    top: -50px;
    background-color: #2e2e2e;
}
#speed_service_icon {
    border: var(--color-00FF1A) solid 2px;
    background-color: var(--color-002e05);
}
#security_service_icon {
    border: var(--color-5300FF) solid 2px;
    background-color: var(--color-260072);
}
#support_service_icon {
    border: var(--color-FF1304) solid 2px;
    background-color: var(--color-600600);
}
.service_description {
    line-height: 35px;
    color: darkturquoise;
}
.image_card_area {
    cursor: pointer;
}
.join_in_newsletter_box {
    background: linear-gradient(90deg , var(--color-A50E86) , var(--color-D37506));
}
.send_btn {
    background: black;color: #ffffff;
}
.footer_subjects {
    color: #c5c5c5;
    line-height: 1.5;
}